In [1]:
# Импорт библиотек
import pandas as pd
import re
from datetime import timedelta
from datetime import datetime

In [27]:
# Загружаем файл с 4426 результатов
data = pd.read_csv('df_4426_news.csv')
del data['Unnamed: 0']

In [28]:
data.head(1)

,Name,Date,Link
0,Глава Сбербанка призвал развивать фундаменталь...,"23:34, 12 декабря 2023",https://lenta.ru//news/2023/12/12/glava/

In [29]:
# Словарь для перевода месяца в нужный результат
dict_month = {'января': '01', 
              'февраля': '02', 
              'марта': '03',
              'апреля': '04', 
              'мая': '05', 
              'июня': '06',
              'июля': '07', 
              'августа': '08', 
              'сентября': '09',
              'октября': '10', 
              'ноября': '11', 
              'декабря': '12'}

# Словарь для перевода числа в нужный формат 
dict_days = {'1': '01',
             '2': '02',
             '3': '03',
             '4': '04',
             '5': '05',
             '6': '06',
             '7': '07',
             '8': '08',
             '9': '09'}

# Функция конвертации 
def date_converter(row):
    date = row[1]
    date = date.split()
    new_date = []
    new_date.append(date[3])
    new_date.append(date[2])
    new_date.append(date[1])
    for key, name in dict_month.items():
        if new_date[1] == key:
            new_date[1] = name
    for key, name in dict_days.items():
        if new_date[2] == key:
            new_date[2] = name
    return '-'.join(new_date)

In [30]:
# Применяю функцию date_converter и конвертирую дату в нужный формат
data['Converted_data'] = data.apply(date_converter, axis=1)

# Группирую по дате, чтобы узнать количество заголовков на каждый день и сортирую по убыванию даты
grouped_data = data.groupby('Converted_data').count().sort_values('Converted_data', ascending=False).reset_index()
grouped_data.head()

  Converted_data  Name  Date  Link
0     2023-12-12     4     4     4
1     2023-12-11     3     3     3
2     2023-12-10     1     1     1
3     2023-12-08     4     4     4
4     2023-12-07     5     5     5

In [31]:
# Убираю ненужыне столбцы и даю новые имена двум оставшимся
grouped_data = grouped_data[['Converted_data', 'Name']]
grouped_data.columns = ['Date', 'Count']
grouped_data.head(5)

         Date  Count
0  2023-12-12      4
1  2023-12-11      3
2  2023-12-10      1
3  2023-12-08      4
4  2023-12-07      5

In [32]:
# Создаю датафрейм для всех дат
df_dates = pd.DataFrame(
    {
        'Date': [],
    }
)

In [33]:
# Заполняю датафрейм всеми датами подряд начиная с 15 января 2015 года
start_date = '2023-12-12'
end_date = '2015-01-01'
print(type(start_date))
start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
end_date_datetime = datetime.strptime(end_date, '%Y-%m-%d')
print(start_date_datetime)
while start_date_datetime >= end_date_datetime:
    df_dates.loc[(len(df_dates.index))] = re.findall('\d{4}-\d{2}-\d{2}', str(start_date_datetime))
    start_date_datetime = start_date_datetime - timedelta(days = 1)

<class 'str'>
2023-12-12 00:00:00

In [34]:
df_dates.head(10)

         Date
0  2023-12-12
1  2023-12-11
2  2023-12-10
3  2023-12-09
4  2023-12-08
5  2023-12-07
6  2023-12-06
7  2023-12-05
8  2023-12-04
9  2023-12-03

In [35]:
grouped_data.head(5)

         Date  Count
0  2023-12-12      4
1  2023-12-11      3
2  2023-12-10      1
3  2023-12-08      4
4  2023-12-07      5

In [36]:
# Записываю даты новостей в список
grouped_data_dates_list = grouped_data['Date'].to_list()
grouped_data_dates_list

['2023-12-12',
 '2023-12-11',
 '2023-12-10',
 '2023-12-08',
 '2023-12-07',
 '2023-12-06',
 '2023-12-05',
 '2023-12-04',
 '2023-12-02',
 '2023-12-01',
 '2023-11-30',
 '2023-11-28',
 '2023-11-27',
 '2023-11-25',
 '2023-11-24',
 '2023-11-23',
 '2023-11-22',
 '2023-11-21',
 '2023-11-20',
 '2023-11-17',
 '2023-11-16',
 '2023-11-14',
 '2023-11-13',
 '2023-11-10',
 '2023-11-09',
 '2023-11-08',
 '2023-11-07',
 '2023-11-05',
 '2023-11-04',
 '2023-11-03',
 '2023-11-01',
 '2023-10-31',
 '2023-10-27',
 '2023-10-26',
 '2023-10-25',
 '2023-10-24',
 '2023-10-23',
 '2023-10-20',
 '2023-10-19',
 '2023-10-18',
 '2023-10-17',
 '2023-10-13',
 '2023-10-12',
 '2023-10-11',
 '2023-10-10',
 '2023-10-09',
 '2023-10-06',
 '2023-10-05',
 '2023-10-03',
 '2023-10-02',
 '2023-09-29',
 '2023-09-28',
 '2023-09-27',
 '2023-09-26',
 '2023-09-25',
 '2023-09-23',
 '2023-09-22',
 '2023-09-21',
 '2023-09-20',
 '2023-09-19',
 '2023-09-18',
 '2023-09-16',
 '2023-09-15',
 '2023-09-14',
 '2023-09-13',
 '2023-09-12',
 '2023-09-11',
 '2023-09-10',
 '2023-09-09',
 '2023-09-08',
 '2023-09-07',
 '2023-09-06',
 '2023-09-05',
 '2023-09-01',
 '2023-08-31',
 '2023-08-30',
 '2023-08-29',
 '2023-08-28',
 '2023-08-24',
 '2023-08-23',
 '2023-08-22',
 '2023-08-21',
 '2023-08-19',
 '2023-08-18',
 '2023-08-17',
 '2023-08-16',
 '2023-08-15',
 '2023-08-14',
 '2023-08-13',
 '2023-08-11',
 '2023-08-08',
 '2023-08-07',
 '2023-08-03',
 '2023-08-01',
 '2023-07-29',
 '2023-07-27',
 '2023-07-26',
 '2023-07-25',
 '2023-07-24',
 '2023-07-21',
 '2023-07-20',
 '2023-07-19',
 '2023-07-18',
 '2023-07-17',
 '2023-07-16',
 '2023-07-13',
 '2023-07-12',
 '2023-07-11',
 '2023-07-10',
 '2023-07-07',
 '2023-07-06',
 '2023-07-05',
 '2023-07-04',
 '2023-07-03',
 '2023-06-30',
 '2023-06-29',
 '2023-06-28',
 '2023-06-27',
 '2023-06-26',
 '2023-06-23',
 '2023-06-22',
 '2023-06-21',
 '2023-06-20',
 '2023-06-19',
 '2023-06-17',
 '2023-06-16',
 '2023-06-15',
 '2023-06-14',
 '2023-06-13',
 '2023-06-10',
 '2023-06-08',
 '2023-06-07',
 '2023-06-06',
 '2023-06-05',
 '2023-06-02',
 '2023-06-01',
 '2023-05-31',
 '2023-05-30',
 '2023-05-26',
 '2023-05-25',
 '2023-05-24',
 '2023-05-22',
 '2023-05-20',
 '2023-05-19',
 '2023-05-18',
 '2023-05-16',
 '2023-05-15',
 '2023-05-14',
 '2023-05-13',
 '2023-05-12',
 '2023-05-11',
 '2023-05-10',
 '2023-05-08',
 '2023-05-06',
 '2023-05-05',
 '2023-05-04',
 '2023-04-30',
 '2023-04-28',
 '2023-04-27',
 '2023-04-26',
 '2023-04-25',
 '2023-04-24',
 '2023-04-21',
 '2023-04-20',
 '2023-04-19',
 '2023-04-18',
 '2023-04-17',
 '2023-04-14',
 '2023-04-13',
 '2023-04-12',
 '2023-04-11',
 '2023-04-07',
 '2023-04-06',
 '2023-04-05',
 '2023-04-04',
 '2023-04-03',
 '2023-03-31',
 '2023-03-30',
 '2023-03-28',
 '2023-03-27',
 '2023-03-24',
 '2023-03-23',
 '2023-03-22',
 '2023-03-20',
 '2023-03-19',
 '2023-03-17',
 '2023-03-13',
 '2023-03-10',
 '2023-03-09',
 '2023-03-08',
 '2023-03-07',
 '2023-03-06',
 '2023-03-04',
 '2023-03-03',
 '2023-03-02',
 '2023-03-01',
 '2023-02-28',
 '2023-02-27',
 '2023-02-26',
 '2023-02-25',
 '2023-02-22',
 '2023-02-21',
 '2023-02-19',
 '2023-02-17',
 '2023-02-16',
 '2023-02-14',
 '2023-02-13',
 '2023-02-10',
 '2023-02-09',
 '2023-02-08',
 '2023-02-07',
 '2023-02-06',
 '2023-02-04',
 '2023-02-03',
 '2023-02-02',
 '2023-02-01',
 '2023-01-31',
 '2023-01-30',
 '2023-01-26',
 '2023-01-25',
 '2023-01-24',
 '2023-01-23',
 '2023-01-19',
 '2023-01-18',
 '2023-01-17',
 '2023-01-16',
 '2023-01-12',
 '2023-01-10',
 '2023-01-09',
 '2022-12-30',
 '2022-12-28',
 '2022-12-27',
 '2022-12-26',
 '2022-12-23',
 '2022-12-22',
 '2022-12-21',
 '2022-12-20',
 '2022-12-19',
 '2022-12-15',
 '2022-12-14',
 '2022-12-13',
 '2022-12-12',
 '2022-12-09',
 '2022-12-08',
 '2022-12-07',
 '2022-12-06',
 '2022-12-05',
 '2022-12-03',
 '2022-12-02',
 '2022-12-01',
 '2022-11-30',
 '2022-11-29',
 '2022-11-28',
 '2022-11-26',
 '2022-11-25',
 '2022-11-24',
 '2022-11-23',
 '2022-11-22',
 '2022-11-18',
 '2022-11-17',
 '2022-11-16',
 '2022-11-14',
 '2022-11-12',
 '2022-11-11',
 '2022-11-10',
 '2022-11-09',
 '2022-11-08',
 '2022-11-07',
 '2022-11-04',
 '2022-11-03',
 '2022-11-02',
 '2022-11-01',
 '2022-10-31',
 '2022-10-28',
 '2022-10-27',
 '2022-10-26',
 '2022-10-25',
 '2022-10-24',
 '2022-10-21',
 '2022-10-20',
 '2022-10-19',
 '2022-10-18',
 '2022-10-17',
 '2022-10-14',
 '2022-10-13',
 '2022-10-12',
 '2022-10-11',
 '2022-10-10',
 '2022-10-07',
 '2022-10-06',
 '2022-10-05',
 '2022-10-04',
 '2022-10-03',
 '2022-10-01',
 '2022-09-30',
 '2022-09-29',
 '2022-09-28',
 '2022-09-27',
 '2022-09-26',
 '2022-09-22',
 '2022-09-20',
 '2022-09-19',
 '2022-09-17',
 '2022-09-16',
 '2022-09-15',
 '2022-09-14',
 '2022-09-13',
 '2022-09-09',
 '2022-09-08',
 '2022-09-07',
 '2022-09-06',
 '2022-09-05',
 '2022-09-04',
 '2022-09-03',
 '2022-09-02',
 '2022-09-01',
 '2022-08-31',
 '2022-08-30',
 '2022-08-29',
 '2022-08-26',
 '2022-08-25',
 '2022-08-24',
 '2022-08-23',
 '2022-08-22',
 '2022-08-19',
 '2022-08-18',
 '2022-08-17',
 '2022-08-16',
 '2022-08-15',
 '2022-08-13',
 '2022-08-12',
 '2022-08-11',
 '2022-08-10',
 '2022-08-08',
 '2022-08-04',
 '2022-08-03',
 '2022-08-02',
 '2022-07-30',
 '2022-07-28',
 '2022-07-27',
 '2022-07-26',
 '2022-07-25',
 '2022-07-22',
 '2022-07-21',
 '2022-07-20',
 '2022-07-19',
 '2022-07-17',
 '2022-07-15',
 '2022-07-14',
 '2022-07-13',
 '2022-07-12',
 '2022-07-11',
 '2022-07-09',
 '2022-07-08',
 '2022-07-07',
 '2022-07-06',
 '2022-07-05',
 '2022-07-04',
 '2022-07-01',
 '2022-06-30',
 '2022-06-29',
 '2022-06-28',
 '2022-06-27',
 '2022-06-24',
 '2022-06-23',
 '2022-06-22',
 '2022-06-21',
 '2022-06-20',
 '2022-06-18',
 '2022-06-17',
 '2022-06-16',
 '2022-06-15',
 '2022-06-14',
 '2022-06-12',
 '2022-06-10',
 '2022-06-09',
 '2022-06-08',
 '2022-06-07',
 '2022-06-06',
 '2022-06-05',
 '2022-06-03',
 '2022-06-02',
 '2022-06-01',
 '2022-05-31',
 '2022-05-30',
 '2022-05-29',
 '2022-05-28',
 '2022-05-27',
 '2022-05-26',
 '2022-05-25',
 '2022-05-24',
 '2022-05-23',
 '2022-05-20',
 '2022-05-19',
 '2022-05-18',
 '2022-05-17',
 '2022-05-16',
 '2022-05-15',
 '2022-05-13',
 '2022-05-12',
 '2022-05-11',
 '2022-05-10',
 '2022-05-08',
 '2022-05-07',
 '2022-05-06',
 '2022-05-05',
 '2022-05-04',
 '2022-05-01',
 '2022-04-29',
 '2022-04-28',
 '2022-04-27',
 '2022-04-26',
 '2022-04-22',
 '2022-04-21',
 '2022-04-20',
 '2022-04-19',
 '2022-04-18',
 '2022-04-17',
 '2022-04-16',
 '2022-04-15',
 '2022-04-14',
 '2022-04-13',
 '2022-04-12',
 '2022-04-11',
 '2022-04-10',
 '2022-04-09',
 '2022-04-08',
 '2022-04-07',
 '2022-04-06',
 '2022-04-05',
 '2022-04-04',
 '2022-04-01',
 '2022-03-31',
 '2022-03-30',
 '2022-03-29',
 '2022-03-28',
 '2022-03-25',
 '2022-03-24',
 '2022-03-23',
 '2022-03-22',
 '2022-03-21',
 '2022-03-18',
 '2022-03-17',
 '2022-03-16',
 '2022-03-15',
 '2022-03-11',
 '2022-03-10',
 '2022-03-09',
 '2022-03-06',
 '2022-03-05',
 '2022-03-04',
 '2022-03-03',
 '2022-03-02',
 '2022-03-01',
 '2022-02-28',
 '2022-02-25',
 '2022-02-24',
 '2022-02-23',
 '2022-02-22',
 '2022-02-21',
 '2022-02-20',
 '2022-02-18',
 '2022-02-17',
 '2022-02-16',
 '2022-02-15',
 '2022-02-14',
 '2022-02-11',
 '2022-02-10',
 '2022-02-09',
 '2022-02-08',
 '2022-02-07',
 '2022-02-04',
 '2022-02-03',
 '2022-02-02',
 '2022-02-01',
 '2022-01-31',
 '2022-01-28',
 '2022-01-27',
 '2022-01-26',
 '2022-01-25',
 '2022-01-24',
 '2022-01-22',
 '2022-01-21',
 '2022-01-20',
 '2022-01-19',
 '2022-01-18',
 '2022-01-17',
 '2022-01-14',
 '2022-01-13',
 '2022-01-11',
 '2022-01-10',
 '2022-01-09',
 '2022-01-03',
 '2021-12-30',
 '2021-12-29',
 '2021-12-28',
 '2021-12-27',
 '2021-12-24',
 '2021-12-23',
 '2021-12-22',
 '2021-12-21',
 '2021-12-20',
 '2021-12-17',
 '2021-12-16',
 '2021-12-15',
 '2021-12-14',
 '2021-12-13',
 '2021-12-12',
 '2021-12-11',
 '2021-12-10',
 '2021-12-09',
 '2021-12-08',
 '2021-12-07',
 '2021-12-06',
 '2021-12-04',
 '2021-12-03',
 '2021-12-02',
 '2021-12-01',
 '2021-11-30',
 '2021-11-29',
 '2021-11-26',
 '2021-11-25',
 '2021-11-24',
 '2021-11-23',
 '2021-11-22',
 '2021-11-19',
 '2021-11-18',
 '2021-11-17',
 '2021-11-16',
 '2021-11-15',
 '2021-11-13',
 '2021-11-12',
 '2021-11-11',
 '2021-11-10',
 '2021-11-09',
 '2021-11-08',
 '2021-11-07',
 '2021-11-04',
 '2021-11-03',
 '2021-11-02',
 '2021-11-01',
 '2021-10-29',
 '2021-10-28',
 '2021-10-27',
 '2021-10-26',
 '2021-10-25',
 '2021-10-22',
 '2021-10-21',
 '2021-10-20',
 '2021-10-19',
 '2021-10-18',
 '2021-10-15',
 '2021-10-14',
 '2021-10-13',
 '2021-10-12',
 '2021-10-11',
 '2021-10-08',
 '2021-10-07',
 '2021-10-06',
 '2021-10-05',
 '2021-10-04',
 '2021-10-03',
 '2021-10-02',
 '2021-10-01',
 '2021-09-30',
 '2021-09-29',
 '2021-09-28',
 '2021-09-27',
 '2021-09-26',
 '2021-09-24',
 '2021-09-23',
 '2021-09-21',
 '2021-09-20',
 '2021-09-17',
 '2021-09-16',
 '2021-09-15',
 '2021-09-14',
 '2021-09-10',
 '2021-09-09',
 '2021-09-08',
 '2021-09-07',
 '2021-09-06',
 '2021-09-03',
 '2021-09-02',
 '2021-09-01',
 '2021-08-31',
 '2021-08-30',
 '2021-08-27',
 '2021-08-26',
 '2021-08-25',
 '2021-08-23',
 '2021-08-20',
 '2021-08-19',
 '2021-08-18',
 '2021-08-17',
 '2021-08-16',
 '2021-08-15',
 '2021-08-13',
 '2021-08-12',
 '2021-08-11',
 '2021-08-10',
 '2021-08-09',
 '2021-08-08',
 '2021-08-06',
 '2021-08-05',
 '2021-08-04',
 '2021-08-02',
 '2021-07-30',
 '2021-07-29',
 '2021-07-28',
 '2021-07-27',
 '2021-07-26',
 '2021-07-23',
 '2021-07-22',
 '2021-07-21',
 '2021-07-20',
 '2021-07-19',
 '2021-07-16',
 '2021-07-15',
 '2021-07-14',
 '2021-07-13',
 '2021-07-12',
 '2021-07-10',
 '2021-07-09',
 '2021-07-08',
 '2021-07-07',
 '2021-07-06',
 '2021-07-01',
 '2021-06-30',
 '2021-06-29',
 '2021-06-28',
 '2021-06-25',
 '2021-06-24',
 '2021-06-23',
 '2021-06-17',
 '2021-06-16',
 '2021-06-14',
 '2021-06-13',
 '2021-06-12',
 '2021-06-11',
 '2021-06-09',
 '2021-06-08',
 '2021-06-07',
 '2021-06-06',
 '2021-06-04',
 '2021-06-03',
 '2021-06-02',
 '2021-06-01',
 '2021-05-31',
 '2021-05-27',
 '2021-05-26',
 '2021-05-25',
 '2021-05-24',
 '2021-05-22',
 '2021-05-19',
 '2021-05-13',
 '2021-05-07',
 '2021-05-06',
 '2021-05-05',
 '2021-05-01',
 '2021-04-30',
 '2021-04-29',
 '2021-04-28',
 '2021-04-27',
 '2021-04-23',
 '2021-04-22',
 '2021-04-21',
 '2021-04-20',
 '2021-04-19',
 '2021-04-16',
 '2021-04-15',
 '2021-04-12',
 '2021-04-10',
 '2021-04-08',
 '2021-04-07',
 '2021-04-05',
 '2021-04-04',
 '2021-04-02',
 '2021-03-31',
 '2021-03-29',
 '2021-03-26',
 '2021-03-25',
 '2021-03-24',
 '2021-03-19',
 '2021-03-18',
 '2021-03-17',
 '2021-03-15',
 '2021-03-13',
 '2021-03-12',
 '2021-03-10',
 '2021-03-06',
 '2021-03-05',
 '2021-03-04',
 '2021-03-02',
 '2021-03-01',
 '2021-02-26',
 '2021-02-25',
 '2021-02-24',
 '2021-02-20',
 '2021-02-19',
 '2021-02-18',
 '2021-02-17',
 '2021-02-16',
 '2021-02-15',
 '2021-02-12',
 '2021-02-11',
 '2021-02-08',
 '2021-02-05',
 '2021-02-04',
 '2021-02-03',
 '2021-02-02',
 '2021-02-01',
 '2021-01-29',
 '2021-01-28',
 '2021-01-26',
 '2021-01-25',
 '2021-01-21',
 '2021-01-20',
 '2021-01-19',
 '2021-01-18',
 '2021-01-13',
 '2021-01-10',
 '2021-01-04',
 '2021-01-02',
 '2020-12-29',
 '2020-12-28',
 '2020-12-26',
 '2020-12-25',
 '2020-12-22',
 '2020-12-21',
 '2020-12-18',
 '2020-12-17',
 '2020-12-16',
 '2020-12-15',
 '2020-12-10',
 '2020-12-09',
 '2020-12-08',
 '2020-12-07',
 '2020-12-06',
 '2020-12-04',
 '2020-12-02',
 '2020-11-30',
 '2020-11-29',
 '2020-11-27',
 '2020-11-26',
 '2020-11-24',
 '2020-11-22',
 '2020-11-19',
 '2020-11-18',
 '2020-11-17',
 '2020-11-11',
 '2020-11-06',
 '2020-11-04',
 '2020-11-03',
 '2020-11-02',
 '2020-10-29',
 '2020-10-26',
 '2020-10-25',
 '2020-10-23',
 '2020-10-22',
 '2020-10-21',
 '2020-10-20',
 '2020-10-16',
 '2020-10-15',
 '2020-10-14',
 '2020-10-07',
 '2020-10-06',
 '2020-10-05',
 '2020-10-02',
 '2020-10-01',
 '2020-09-30',
 '2020-09-29',
 '2020-09-28',
 '2020-09-24',
 '2020-09-23',
 '2020-09-22',
 '2020-09-21',
 '2020-09-17',
 '2020-09-15',
 '2020-09-11',
 '2020-09-09',
 '2020-09-08',
 '2020-09-07',
 '2020-09-04',
 '2020-09-01',
 '2020-08-28',
 '2020-08-27',
 '2020-08-26',
 '2020-08-25',
 '2020-08-22',
 '2020-08-21',
 '2020-08-20',
 '2020-08-17',
 '2020-08-14',
 '2020-08-13',
 '2020-08-11',
 '2020-08-10',
 '2020-08-07',
 '2020-08-06',
 '2020-08-05',
 '2020-08-04',
 '2020-08-03',
 '2020-07-31',
 '2020-07-30',
 '2020-07-29',
 '2020-07-28',
 '2020-07-24',
 '2020-07-22',
 '2020-07-21',
 '2020-07-20',
 '2020-07-17',
 '2020-07-16',
 '2020-07-15',
 '2020-07-14',
 '2020-07-13',
 '2020-07-09',
 '2020-07-08',
 '2020-07-07',
 '2020-07-03',
 '2020-07-02',
 '2020-06-29',
 '2020-06-24',
 '2020-06-23',
 '2020-06-19',
 '2020-06-18',
 '2020-06-17',
 '2020-06-16',
 '2020-06-14',
 '2020-06-11',
 '2020-06-09',
 '2020-06-08',
 '2020-06-05',
 '2020-06-04',
 '2020-06-02',
 '2020-06-01',
 '2020-05-29',
 '2020-05-28',
 '2020-05-26',
 '2020-05-25',
 '2020-05-21',
 '2020-05-20',
 '2020-05-19',
 '2020-05-15',
 '2020-05-14',
 '2020-05-13',
 '2020-05-12',
 '2020-05-11',
 '2020-05-10',
 '2020-05-09',
 '2020-05-08',
 '2020-05-07',
 '2020-05-06',
 '2020-05-05',
 '2020-05-04',
 '2020-04-30',
 '2020-04-29',
 '2020-04-27',
 '2020-04-23',
 '2020-04-22',
 '2020-04-21',
 '2020-04-20',
 '2020-04-17',
 '2020-04-16',
 '2020-04-14',
 '2020-04-13',
 '2020-04-12',
 '2020-04-10',
 '2020-04-09',
 '2020-04-08',
 '2020-04-07',
 '2020-04-06',
 '2020-04-05',
 '2020-04-03',
 '2020-04-02',
 '2020-04-01',
 '2020-03-31',
 '2020-03-30',
 '2020-03-29',
 '2020-03-28',
 '2020-03-27',
 '2020-03-26',
 '2020-03-25',
 '2020-03-24',
 '2020-03-23',
 '2020-03-22',
 '2020-03-21',
 '2020-03-20',
 '2020-03-19',
 '2020-03-18',
 '2020-03-17',
 '2020-03-16',
 '2020-03-12',
 '2020-03-10',
 '2020-03-08',
 '2020-03-06',
 '2020-03-05',
 '2020-03-04',
 '2020-03-03',
 '2020-03-02',
 '2020-02-28',
 '2020-02-27',
 '2020-02-25',
 '2020-02-22',
 '2020-02-20',
 '2020-02-19',
 '2020-02-18',
 '2020-02-17',
 '2020-02-16',
 '2020-02-14',
 '2020-02-13',
 '2020-02-12',
 '2020-02-11',
 '2020-02-10',
 '2020-02-09',
 '2020-02-06',
 '2020-02-05',
 '2020-02-03',
 '2020-01-31',
 '2020-01-30',
 '2020-01-29',
 '2020-01-28',
 '2020-01-27',
 '2020-01-26',
 '2020-01-24',
 '2020-01-23',
 '2020-01-22',
 '2020-01-21',
 '2020-01-20',
 '2020-01-17',
 '2020-01-16',
 '2020-01-15',
 '2020-01-14',
 '2020-01-13',
 '2020-01-09',
 '2020-01-07',
 '2019-12-31',
 '2019-12-30',
 '2019-12-28',
 '2019-12-27',
 '2019-12-26',
 '2019-12-25',
 '2019-12-24',
 '2019-12-23',
 '2019-12-20',
 '2019-12-19',
 '2019-12-18',
 '2019-12-17',
 '2019-12-16',
 '2019-12-13',
 '2019-12-12',
 '2019-12-11',
 '2019-12-10',
 '2019-12-09',
 '2019-12-07',
 '2019-12-06',
 '2019-12-05',
 '2019-12-04',
 '2019-12-03',
 '2019-12-02',
 '2019-12-01',
 '2019-11-30',
 '2019-11-29',
 '2019-11-28',
 '2019-11-27',
 '2019-11-26',
 '2019-11-25',
 '2019-11-22',
 '2019-11-21',
 '2019-11-20',
 '2019-11-19',
 '2019-11-18',
 '2019-11-15',
 '2019-11-14',
 '2019-11-13',
 '2019-11-12',
 '2019-11-11',
 '2019-11-09',
 '2019-11-08',
 '2019-11-07',
 '2019-11-06',
 '2019-11-05',
 '2019-11-01',
 '2019-10-31',
 '2019-10-29',
 '2019-10-28',
 '2019-10-25',
 '2019-10-24',
 '2019-10-23',
 '2019-10-22',
 '2019-10-21',
 '2019-10-17',
 '2019-10-15',
 '2019-10-14',
 '2019-10-12',
 '2019-10-11',
 '2019-10-10',
 '2019-10-09',
 '2019-10-08',
 '2019-10-07',
 '2019-10-06',
 ...]

In [37]:
# Функция для проверки, есть ли хотя бы одна новость в каждую дату. Если в какую-то
# из дат не было новостей, то этой даты вообще нет в датафрейме с новостями, туда
# добавится строка с недостающей датой и количество новостей 0 (так как их нет)
def compare(row):
    if row[0] not in grouped_data_dates_list:
        grouped_data.loc[(len(grouped_data.index))] = [row[0], 0]

In [38]:
# Результат по новостному блоку. 
# Применяю функцию и сортирую по убыванию
df_dates.apply(compare, axis=1)
grouped_data = grouped_data.sort_values('Date', ascending=0).reset_index()
del grouped_data['index']
grouped_data.head(10)

         Date  Count
0  2023-12-12      4
1  2023-12-11      3
2  2023-12-10      1
3  2023-12-09      0
4  2023-12-08      4
5  2023-12-07      5
6  2023-12-06     16
7  2023-12-05      3
8  2023-12-04      4
9  2023-12-03      0

In [61]:
# Записываю получившийся датафрейм в CSV для передачи в работу коллегам
grouped_data.to_csv('NEWS.csv', index=False)

In [39]:
price_data = pd.read_csv('SBER_01122010_12122023.csv')
del price_data['<DATE>']
price_data = price_data.reset_index()
price_data.columns = ['Date', 'ThirstPrice', 'High', 'Low', 'LastPrice', 'oper']
del price_data['oper']
price_data['Volatility RUB'] = price_data['High'] - price_data['Low']
price_data['Volatility %'] = ((price_data['High'] - price_data['Low'])\
/ ((price_data['LastPrice'] + price_data['ThirstPrice']) / 2)) * 100
price_data = price_data.sort_values('Date', ascending=False).reset_index()
del price_data['index']
price_data

,Date,ThirstPrice,High,Low,LastPrice,Volatility RUB,Volatility %
0,20231212,256.79,262.88,255.05,257.60,7.83,3.044383
1,20231211,265.17,266.47,254.81,256.89,11.66,4.466920
2,20231208,266.01,268.23,263.72,265.16,4.51,1.698138
3,20231207,267.74,270.44,263.06,265.12,7.38,2.769958
4,20231206,279.92,280.79,266.83,267.58,13.96,5.099543
...,...,...,...,...,...,...,...
3260,20101207,106.01,108.30,105.73,107.37,2.57,2.408848
3261,20101206,103.42,105.93,102.95,105.56,2.98,2.851948
3262,20101203,103.75,104.00,102.08,103.03,1.92,1.857046
3263,20101202,103.99,104.31,101.60,103.64,2.71,2.610413
3264,20101201,102.12,103.77,101.66,103.34,2.11,2.053928

In [40]:
def convert_price_data(row):
    data = str(row[0])
    data = data[0] + data[1] + data[2] + data[3] + '-' + data[4]\
    + data[5] + '-' + data[6] + data[7]
    return data

In [41]:
price_data['Date'] = price_data.apply(convert_price_data, axis=1)

In [42]:
price_data.head(2)

,Date,ThirstPrice,High,Low,LastPrice,Volatility RUB,Volatility %
0,2023-12-12,256.79,262.88,255.05,257.60,7.83,3.044383
1,2023-12-11,265.17,266.47,254.81,256.89,11.66,4.466920

In [43]:
price_data_list = price_data['Date'].to_list()

In [44]:
def compare_price_data(row):
    if row[0] not in price_data_list:
        #print(type(row[0]))
        price_data.loc[(len(price_data.index))] = [row[0], 0, 0, 0, 0, 0, 0]

In [45]:
df_dates.apply(compare_price_data, axis=1)
price_data = price_data.sort_values('Date', ascending=0)
price_data = price_data.reset_index()
del price_data['index']

In [46]:
#Результат по ценовому блоку
price_data.head(50)

,Date,ThirstPrice,High,Low,LastPrice,Volatility RUB,Volatility %
0,2023-12-12,256.79,262.88,255.05,257.60,7.83,3.044383
1,2023-12-11,265.17,266.47,254.81,256.89,11.66,4.466920
2,2023-12-10,0.00,0.00,0.00,0.00,0.00,0.000000
3,2023-12-09,0.00,0.00,0.00,0.00,0.00,0.000000
4,2023-12-08,266.01,268.23,263.72,265.16,4.51,1.698138
5,2023-12-07,267.74,270.44,263.06,265.12,7.38,2.769958
6,2023-12-06,279.92,280.79,266.83,267.58,13.96,5.099543
7,2023-12-05,271.97,279.65,270.54,279.62,9.11,3.303178
8,2023-12-04,273.59,274.95,270.52,270.96,4.43,1.627031
9,2023-12-03,0.00,0.00,0.00,0.00,0.00,0.000000
10,2023-12-02,0.00,0.00,0.00,0.00,0.00,0.000000
11,2023-12-01,277.04,277.98,273.55,273.97,4.43,1.607956
12,2023-11-30,276.71,278.65,272.75,277.50,5.90,2.129157
13,2023-11-29,279.48,280.56,276.20,276.80,4.36,1.567556
14,2023-11-28,282.40,282.51,277.32,279.91,5.19,1.845957
15,2023-11-27,287.41,289.00,278.88,282.33,10.12,3.552498
16,2023-11-26,0.00,0.00,0.00,0.00,0.00,0.000000
17,2023-11-25,0.00,0.00,0.00,0.00,0.00,0.000000
18,2023-11-24,286.48,287.50,285.11,286.85,2.39,0.833726
19,2023-11-23,286.16,287.77,285.04,286.19,2.73,0.953962
20,2023-11-22,283.14,286.67,282.85,286.16,3.82,1.341999
21,2023-11-21,282.29,283.82,281.66,282.79,2.16,0.764494
22,2023-11-20,281.80,284.20,281.61,282.91,2.59,0.917285
23,2023-11-19,0.00,0.00,0.00,0.00,0.00,0.000000
24,2023-11-18,0.00,0.00,0.00,0.00,0.00,0.000000
25,2023-11-17,279.69,282.50,278.66,281.60,3.84,1.368277
26,2023-11-16,282.40,283.69,279.56,279.70,4.13,1.469489
27,2023-11-15,280.87,283.93,278.51,282.89,5.42,1.922804
28,2023-11-14,283.66,283.88,280.54,280.87,3.34,1.183285
29,2023-11-13,280.40,284.80,280.32,283.97,4.48,1.587611
30,2023-11-12,0.00,0.00,0.00,0.00,0.00,0.000000
31,2023-11-11,0.00,0.00,0.00,0.00,0.00,0.000000
32,2023-11-10,276.99,281.30,276.60,280.19,4.70,1.687067
33,2023-11-09,278.60,278.85,276.02,276.65,2.83,1.019361
34,2023-11-08,273.53,278.35,273.28,278.15,5.07,1.838022
35,2023-11-07,273.08,274.78,272.20,273.31,2.58,0.944380
36,2023-11-06,269.00,273.87,268.62,273.42,5.25,1.935769
37,2023-11-05,0.00,0.00,0.00,0.00,0.00,0.000000
38,2023-11-04,0.00,0.00,0.00,0.00,0.00,0.000000
39,2023-11-03,269.07,269.78,267.20,268.54,2.58,0.959804
40,2023-11-02,270.01,270.98,268.50,269.06,2.48,0.920103
41,2023-11-01,268.29,270.30,267.60,269.68,2.70,1.003773
42,2023-10-31,269.91,270.50,266.87,268.35,3.63,1.348791
43,2023-10-30,269.90,271.55,268.60,269.89,2.95,1.093018
44,2023-10-29,0.00,0.00,0.00,0.00,0.00,0.000000
45,2023-10-28,0.00,0.00,0.00,0.00,0.00,0.000000
46,2023-10-27,270.00,271.98,266.80,269.70,5.18,1.919585
47,2023-10-26,274.10,276.00,269.12,269.90,6.88,2.529412
48,2023-10-25,271.50,274.96,270.53,273.73,4.43,1.625002
49,2023-10-24,270.03,272.06,268.62,271.27,3.44,1.271014

In [63]:
price_data.to_csv('PRICE.csv', index=False)

In [58]:
filtred_price_data = price_data[price_data.Date >= '2015-01-01']

In [59]:
filtred_price_data['LentaNewsCount'] = grouped_data['Count']

/var/folders/lc/gq9gmfgj2bz496xqttsl9hzr0000gn/T/ipykernel_15598/1497709911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtred_price_data['LentaNewsCount'] = grouped_data['Count']

In [61]:
filtred_price_data.head(50)

,Date,ThirstPrice,High,Low,LastPrice,Volatility RUB,Volatility %,LentaNewsCount
0,2023-12-12,256.79,262.88,255.05,257.60,7.83,3.044383,4
1,2023-12-11,265.17,266.47,254.81,256.89,11.66,4.466920,3
2,2023-12-10,0.00,0.00,0.00,0.00,0.00,0.000000,1
3,2023-12-09,0.00,0.00,0.00,0.00,0.00,0.000000,4
4,2023-12-08,266.01,268.23,263.72,265.16,4.51,1.698138,5
5,2023-12-07,267.74,270.44,263.06,265.12,7.38,2.769958,16
6,2023-12-06,279.92,280.79,266.83,267.58,13.96,5.099543,3
7,2023-12-05,271.97,279.65,270.54,279.62,9.11,3.303178,4
8,2023-12-04,273.59,274.95,270.52,270.96,4.43,1.627031,3
9,2023-12-03,0.00,0.00,0.00,0.00,0.00,0.000000,5
10,2023-12-02,0.00,0.00,0.00,0.00,0.00,0.000000,4
11,2023-12-01,277.04,277.98,273.55,273.97,4.43,1.607956,1
12,2023-11-30,276.71,278.65,272.75,277.50,5.90,2.129157,3
13,2023-11-29,279.48,280.56,276.20,276.80,4.36,1.567556,1
14,2023-11-28,282.40,282.51,277.32,279.91,5.19,1.845957,7
15,2023-11-27,287.41,289.00,278.88,282.33,10.12,3.552498,7
16,2023-11-26,0.00,0.00,0.00,0.00,0.00,0.000000,7
17,2023-11-25,0.00,0.00,0.00,0.00,0.00,0.000000,3
18,2023-11-24,286.48,287.50,285.11,286.85,2.39,0.833726,5
19,2023-11-23,286.16,287.77,285.04,286.19,2.73,0.953962,5
20,2023-11-22,283.14,286.67,282.85,286.16,3.82,1.341999,2
21,2023-11-21,282.29,283.82,281.66,282.79,2.16,0.764494,3
22,2023-11-20,281.80,284.20,281.61,282.91,2.59,0.917285,4
23,2023-11-19,0.00,0.00,0.00,0.00,0.00,0.000000,3
24,2023-11-18,0.00,0.00,0.00,0.00,0.00,0.000000,10
25,2023-11-17,279.69,282.50,278.66,281.60,3.84,1.368277,8
26,2023-11-16,282.40,283.69,279.56,279.70,4.13,1.469489,7
27,2023-11-15,280.87,283.93,278.51,282.89,5.42,1.922804,1
28,2023-11-14,283.66,283.88,280.54,280.87,3.34,1.183285,4
29,2023-11-13,280.40,284.80,280.32,283.97,4.48,1.587611,4
30,2023-11-12,0.00,0.00,0.00,0.00,0.00,0.000000,3
31,2023-11-11,0.00,0.00,0.00,0.00,0.00,0.000000,2
32,2023-11-10,276.99,281.30,276.60,280.19,4.70,1.687067,1
33,2023-11-09,278.60,278.85,276.02,276.65,2.83,1.019361,1
34,2023-11-08,273.53,278.35,273.28,278.15,5.07,1.838022,5
35,2023-11-07,273.08,274.78,272.20,273.31,2.58,0.944380,1
36,2023-11-06,269.00,273.87,268.62,273.42,5.25,1.935769,3
37,2023-11-05,0.00,0.00,0.00,0.00,0.00,0.000000,7
38,2023-11-04,0.00,0.00,0.00,0.00,0.00,0.000000,3
39,2023-11-03,269.07,269.78,267.20,268.54,2.58,0.959804,3
40,2023-11-02,270.01,270.98,268.50,269.06,2.48,0.920103,4
41,2023-11-01,268.29,270.30,267.60,269.68,2.70,1.003773,1
42,2023-10-31,269.91,270.50,266.87,268.35,3.63,1.348791,6
43,2023-10-30,269.90,271.55,268.60,269.89,2.95,1.093018,3
44,2023-10-29,0.00,0.00,0.00,0.00,0.00,0.000000,3
45,2023-10-28,0.00,0.00,0.00,0.00,0.00,0.000000,1
46,2023-10-27,270.00,271.98,266.80,269.70,5.18,1.919585,1
47,2023-10-26,274.10,276.00,269.12,269.90,6.88,2.529412,2
48,2023-10-25,271.50,274.96,270.53,273.73,4.43,1.625002,2
49,2023-10-24,270.03,272.06,268.62,271.27,3.44,1.271014,1

In [47]:
results_df = pd.DataFrame(
    {
        'Date': grouped_data['Date']
    }
)

In [48]:
filtred_price_data = price_data[price_data.Date >= '2015-01-01']

In [49]:
results_df['LentaNewsCount'] = grouped_data['Count']

In [50]:
results_df['Volatility %'] = filtred_price_data['Volatility %']

In [51]:
results_df = results_df.reset_index()
del results_df['index']

In [52]:
results_df = results_df[results_df.Date >= '2016-03-01']
results_df.head(50)

          Date  LentaNewsCount  Volatility %
0   2023-12-12               4      3.044383
1   2023-12-11               3      4.466920
2   2023-12-10               1      0.000000
3   2023-12-09               0      0.000000
4   2023-12-08               4      1.698138
5   2023-12-07               5      2.769958
6   2023-12-06              16      5.099543
7   2023-12-05               3      3.303178
8   2023-12-04               4      1.627031
9   2023-12-03               0      0.000000
10  2023-12-02               3      0.000000
11  2023-12-01               5      1.607956
12  2023-11-30               4      2.129157
13  2023-11-29               0      1.567556
14  2023-11-28               1      1.845957
15  2023-11-27               3      3.552498
16  2023-11-26               0      0.000000
17  2023-11-25               1      0.000000
18  2023-11-24               7      0.833726
19  2023-11-23               7      0.953962
20  2023-11-22               7      1.341999
21  2023-11-21               3      0.764494
22  2023-11-20               5      0.917285
23  2023-11-19               0      0.000000
24  2023-11-18               0      0.000000
25  2023-11-17               5      1.368277
26  2023-11-16               2      1.469489
27  2023-11-15               0      1.922804
28  2023-11-14               3      1.183285
29  2023-11-13               4      1.587611
30  2023-11-12               0      0.000000
31  2023-11-11               0      0.000000
32  2023-11-10               3      1.687067
33  2023-11-09              10      1.019361
34  2023-11-08               8      1.838022
35  2023-11-07               7      0.944380
36  2023-11-06               0      1.935769
37  2023-11-05               1      0.000000
38  2023-11-04               4      0.000000
39  2023-11-03               4      0.959804
40  2023-11-02               0      0.920103
41  2023-11-01               3      1.003773
42  2023-10-31               2      1.348791
43  2023-10-30               0      1.093018
44  2023-10-29               0      0.000000
45  2023-10-28               0      0.000000
46  2023-10-27               1      1.919585
47  2023-10-26               1      2.529412
48  2023-10-25               5      1.625002
49  2023-10-24               1      1.271014

In [ ]:
results_df.

In [41]:
from statsmodels.tsa.stattools import adfuller

In [42]:
result = adfuller(results_df['LentaNewsCount'])

print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
    print('\t%s: %.3f' % (key, value))

ADF Statistic: -5.628386
p-value: 0.000001
Critical Values:
	1%: -3.433
	5%: -2.863
	10%: -2.567

In [43]:
result = adfuller(results_df['Volatility %'])

print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
    print('\t%s: %.3f' % (key, value))

ADF Statistic: -8.372040
p-value: 0.000000
Critical Values:
	1%: -3.433
	5%: -2.863
	10%: -2.567

In [53]:
results_df.to_csv('RESULTS.csv', index=False)

In [56]:
smth = pd.read_csv('RESULTS.csv')

In [60]:
smth[smth['Volatility %'] > 5]

            Date  LentaNewsCount  Volatility %
6     2023-12-06              16      5.099543
134   2023-07-31               0      6.330602
216   2023-05-10               1      5.320468
267   2023-03-20               1      5.048029
270   2023-03-17               9      8.018905
...          ...             ...           ...
2547  2016-12-21               2      6.086313
2560  2016-12-08               4      5.041252
2589  2016-11-09               2      6.019384
2724  2016-06-27               4      7.289504
2791  2016-04-21               2      6.020642

[121 rows x 3 columns]

In [2]:
pd.read_csv('SBER_01122010_12122023.csv')

          <DATE>  <TIME>  <LAST>   <VOL>    <ID>     <OPER>
20101201       0  102.12  103.77  101.66  103.34  167721162
20101202       0  103.99  104.31  101.60  103.64  226749029
20101203       0  103.75  104.00  102.08  103.03  174973698
20101206       0  103.42  105.93  102.95  105.56  251853987
20101207       0  106.01  108.30  105.73  107.37  248860093
...          ...     ...     ...     ...     ...        ...
20231206       0  279.92  280.79  266.83  267.58   99849690
20231207       0  267.74  270.44  263.06  265.12   63509590
20231208       0  266.01  268.23  263.72  265.16   35322130
20231211       0  265.17  266.47  254.81  256.89   77590450
20231212       0  256.79  262.88  255.05  257.60   63807080

[3265 rows x 6 columns]

In [3]:
pd.read_csv('NEWS.csv')

,Name,Date,Link
0,Глава Сбербанка призвал развивать фундаменталь...,"23:34, 12 декабря 2023",https://lenta.ru//news/2023/12/12/glava/
1,Герман Греф заявил о важности науки для будуще...,"21:01, 12 декабря 2023",https://lenta.ru//news/2023/12/12/nauki/
2,Сбер назвал имена новых лауреатов Научной премии,"20:22, 12 декабря 2023",https://lenta.ru//news/2023/12/12/nazval/
3,Индекс Мосбиржи рухнул,"11:45, 12 декабря 2023",https://lenta.ru//news/2023/12/12/obval/
4,Сбер нарастит портфель устойчивого финансирования,"17:04, 11 декабря 2023",https://lenta.ru//news/2023/12/11/narastit/
...,...,...,...
4421,Дело против главы СУ-155 закрыли после уплаты ...,"14:51, 18 февраля 2016",https://lenta.ru//news/2016/02/18/mesheryakov/
4422,Глава Внешэкономбанка объявил об уходе,"12:54, 18 февраля 2016",https://lenta.ru//news/2016/02/18/dmitrievfare...
4423,Moody's предсказало России трудный год,"10:53, 18 февраля 2016",https://lenta.ru//news/2016/02/18/rusgdpfall/
4424,Глазьев предложил потратить советские накоплен...,"14:03, 17 февраля 2016",https://lenta.ru//news/2016/02/17/glazievmoney/
4425,Официальный евро подорожал на два рубля,"12:51, 17 февраля 2016",https://lenta.ru//news/2016/02/17/cbreur/